:root {
    --px-0 : 0px;
    --px-1 : 2px;
    --px-2 : 4px;
    --px-3 : 6px;
    --px-4 : 8px;
    --px-5 : 10px;
    --px-6 : 12px;
    --px-7 : 14px;
    --px-8 : 16px;
    --px-9 : 18px;
    --px-10 : 20px;
    --px-11 : 24px;
    --px-12 : 28px;
    --px-13 : 32px;
    --px-14 : 36px;
    --px-15 : 40px;
    --px-16 : 48px;
    --px-17 : 52px;
    --px-18 : 56px;
    --px-19 : 60px;
    --px-20 : 64px;
    

    --white-color : #FFFFFF;
    --grey-color-100 : #F9FAFB;
    --grey-color-200 : #F4F6F8;
    --grey-color-300 : #DFE3E8;
    --grey-color-400 : #C4CDD5;
    --grey-color-500 : #919EAB;
    --grey-color-600 : #637381;
    --grey-color-700 : #454F5B;
    --grey-color-800 : #212B36;
    --grey-color-900 : #161C24;
    --black-color: #000000;

    --primary-lighter : #C8FACD;
    --primary-light : #5BE584;
    --primary : #00AB55;
    --primary-dark : #007B55;
    --primary-darker : #005249;

    --secondary-lighter : #D6E4FF;
    --secondary-light : #84A9FF;
    --secondary : #3366FF;
    --secondary-dark : #1939B7;
    --secondary-darker : #091A7A;

    --info-lighter : #CAFDF5;
    --info-light : #61F3F3;
    --info : #00B8D9;
    --info-dark : #006C9C;
    --info-darker : #003768;

    --success-lighter : #D8FBDE;
    --success-light : #86E8AB;
    --success : #36B37E;
    --success-dark : #1B806A;
    --success-darker : #0A5554;

    --warning-lighter : #FFF5CC;
    --warning-light : #FFD666;
    --warning : #FFAB00;
    --warning-dark : #B76E00;
    --warning-darker : #7A4100;

    --error-lighter : #FDE7E7;
    --error-light : #FAB8B8;
    --error : #EF2B2A;
    --error-dark : #D51110;
    --error-darker : #A60D0C;

    --font-h1 : var(--px-15);
    --font-h2 : var(--px-14);
    --font-h3 : var(--px-13);
    --font-h4 : var(--px-12);
    --font-h5 : var(--px-10);
    
    --font-body-xs : var(--px-6);
    --font-body-s : var(--px-7);
    --font-body-m : var(--px-8);
    --font-body-l: var(--px-9);
    --font-body-xl: var(--px-10);

    --radius-xs : var(--px-1);
    --radius-s : var(--px-2);
    --radius-m : var(--px-3);
    --radius-l : var(--px-4);
    --radius-xl : var(--px-5);
    --radius-max : 50vw;
    --radius-full : 50%;
}





