:root {
	--px-0: 0px;
	--px-1: 2px;
	--px-2: 4px;
	--px-3: 6px;
	--px-4: 8px;
	--px-5: 10px;
	--px-6: 12px;
	--px-7: 14px;
	--px-8: 16px;
	--px-9: 18px;
	--px-10: 20px;
	--px-11: 24px;
	--px-12: 28px;
	--px-13: 32px;
	--px-14: 36px;
	--px-15: 40px;
	--px-16: 48px;
	--px-17: 52px;
	--px-18: 56px;
	--px-19: 60px;
	--px-20: 64px;

	--white-color: #ffffff;
	--grey-color-100: #f9fafb;
	--grey-color-200: #f4f6f8;
	--grey-color-300: #dfe3e8;
	--grey-color-400: #c4cdd5;
	--grey-color-500: #919eab;
	--grey-color-600: #637381;
	--grey-color-700: #454f5b;
	--grey-color-800: #212b36;
	--grey-color-900: #161c24;
	--black-color: #000000;

	--primary-lighter: #c8facd;
	--primary-light: #5be584;
	--primary: #00ab55;
	--primary-dark: #007b55;
	--primary-darker: #005249;

	--secondary-lighter: #d6e4ff;
	--secondary-light: #84a9ff;
	--secondary: #3366ff;
	--secondary-dark: #1939b7;
	--secondary-darker: #091a7a;

	--info-lighter: #cafdf5;
	--info-light: #61f3f3;
	--info: #00b8d9;
	--info-dark: #006c9c;
	--info-darker: #003768;

	--success-lighter: #d8fbde;
	--success-light: #86e8ab;
	--success: #36b37e;
	--success-dark: #1b806a;
	--success-darker: #0a5554;

	--warning-lighter: #fff5cc;
	--warning-light: #ffd666;
	--warning: #ffab00;
	--warning-dark: #b76e00;
	--warning-darker: #7a4100;

	--error-lighter: #fde7e7;
	--error-light: #fab8b8;
	--error: #ef2b2a;
	--error-dark: #d51110;
	--error-darker: #a60d0c;

	--font-h1: var(--px-15);
	--font-h2: var(--px-14);
	--font-h3: var(--px-13);
	--font-h4: var(--px-12);
	--font-h5: var(--px-10);
	--font-h6: var(--px-9);

	--font-body-xs: var(--px-6);
	--font-body-s: var(--px-7);
	--font-body-m: var(--px-8);
	--font-body-l: var(--px-9);
	--font-body-xl: var(--px-10);

	--radius-xs: var(--px-1);
	--radius-s: var(--px-2);
	--radius-m: var(--px-3);
	--radius-l: var(--px-4);
	--radius-xl: var(--px-5);
	--radius-max: 50vw;
	--radius-full: 50%;
}
