$primary-color1: #00a2ff;
$white: #fff;
$gray-100: #f5f5f5;
$border-color1: #ddd;
$font: "Pretendard", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;

$px0 : 0px;
$px1 : 1px;
$px2 : 2px;
$px4 : 4px;
$px6 : 6px;
$px8 : 8px;
$px10 : 10px;
$px12 : 12px;
$px14 : 14px;
$px16 : 16px;
$px18 : 18px;
$px20 : 20px;
$px24 : 24px;
$px28 : 28px;
$px32 : 32px;
$px36 : 36px;
$px40 : 40px;
$px48 : 48px;
$px52 : 52px;
$px56 : 56px;
$px64 : 64px;



$font-h1 : $px40;
$font-h2 : $px32;
$font-h3 : $px28;
$font-h4 : $px24;
$font-h5 : $px20;

$font-body-l: $px18;
$font-body-m : $px16;
$font-body-s : $px14;
$font-body-ss : $px12;

$white : #FFFFFF;
$grey-100 : #F9FAFB;
$grey-200 : #F4F6F8;
$grey-300 : #DFE3E8;
$grey-400 : #C4CDD5;
$grey-500 : #919EAB;
$grey-600 : #637381;
$grey-700 : #454F5B;
$grey-800 : #212B36;
$grey-900 : #161C24;
$black: #000000;

$primary-lighter : #C8FACD;
$primary-light : #5BE584;
$primary : #00AB55;
$primary-dark : #007B55;
$primary-darker : #005249;

$secondary-lighter : #D6E4FF;
$secondary-light : #84A9FF;
$secondary : #3366FF;
$secondary-dark : #1939B7;
$secondary-darker : #091A7A;

$info-lighter : #CAFDF5;
$info-light : #61F3F3;
$info : #00B8D9;
$info-dark : #006C9C;
$info-darker : #003768;

$success-lighter : #D8FBDE;
$success-light : #86E8AB;
$success : #36B37E;
$success-dark : #1B806A;
$success-darker : #0A5554;

$warning-lighter : #FFF5CC;
$warning-light : #FFD666;
$warning : #FFAB00;
$warning-dark : #B76E00;
$warning-darker : #7A4100;

$error-lighter : #FDE7E7;
$error-light : #FAB8B8;
$error : #EF2B2A;
$error-dark : #D51110;
$error-darker : #A60D0C;



