<!DOCTYPE html>
<html lang="ko">
	<head>       
        <meta charset="UTF-8" />
        <title>Guide</title>
        {{#if indexList }}
        <link rel="stylesheet" href="../../css/libs/_feWorksheet.min.css">
        <script src="../../js/libs/feWorksheet.js"></script>
        <script src="../../js/guide.js"></script>
        {{/if}}
        {{#if guide }}
	    <script src="../../js/libs/jquery-3.5.1.min.js"></script> 
        <script src="../../js/guide.js"></script>
        <link rel="stylesheet" href="../../css/reset.css">
        <link rel="stylesheet" href="../../css/guide.css">
        {{/if}}
	</head>
  <body>
    {{> @partial-block }}
  </body>
</html>