/* Checkbox */
.inp_check {
	position: relative;
	input[type='checkbox'],
	input[type='radio']{
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 0;
		z-index: 1;
		cursor: pointer;

		& ~ .label_area {
			> .label_cont {
				display: block;
				font-size: var(--font-body-l);
			}
			.sub_g_txt {
				display: block;
				padding-top: var(--px-4);
				font-size: var(--font-body-m);
				color: var(--grey-color-600);
			}
		}
		
		& + .chk_label {
			position: relative;
			display: block;
			padding-left: var(--px-11);
			cursor: pointer;
			> .label_cont {
				display: block;
				font-size: var(--font-body-m);
				color: var(--grey-color-900);
			}
			.sub_g_txt {
				display: block;
				padding-top: var(--px-2);
				font-size: var(--font-body-s);
				color: var(--grey-color-600);
			}

			&::before {
				content:'';
				position: absolute;
				top: 1px;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid var(--grey-color-600);
			}

			&.more_add {
				padding-right: 64px;
			}
			&.chk_label_lg {
				padding-left: var(--px-12);
				&::before {
					top: 2px;
					width: 24px;
					height: 24px;
					border-radius: var(--radius-l);
				}
				> .label_cont {
					font-weight: 700;
					font-size: var(--font-h5);
					color: var(--grey-color-800);
				}
				.sub_g_txt {
					display: block;
					padding-top: var(--px-1);
					color: var(--grey-color-600);
					font-size: var(--font-body-m);
				}
			}
			&.switch_check {
				cursor: pointer;
				position: relative;
				padding-left: 40px;
				height: 20px;
				> .label_cont {
					line-height: 20px;
				}
				&::before {
					width: 32px;
					height: 20px;
					background: var(--grey-color-400);
					border: 1px solid var(--grey-color-400);
					border-radius: var(--radius-max);
				}
				&::after {
					content: "";
					position: absolute;
					top: 3px;
					left: 2px;
					display: inline-block;
					width: 16px;
					height: 16px;
					background: var(--white-color);
					background-size: 8px;
					border-radius: var(--radius-full);
					transition: left 250ms linear;
				}
				&.lg {
					padding-left: 48px;
					height: 24px;
					> .label_cont {
						font-size: var(--font-body-l);
						line-height: 24px;
					}
					&.txt_sm > .label_cont {
						font-size: var(--font-body-xs);
						color: var(--grey-color-600);       
					}
					&::before {
						width: 40px;
						height: 24px;
					}
					&::after {
						width: 20px;
						height: 20px;
						background-size: 10px auto;
					}
				}
			}
		}

		&.rd_check {
			& + .chk_label {
				padding: var(--px-8) var(--px-7);
				border: 1px solid var(--grey-color-600);
				border-radius: var(--radius-m);
				&::before,
				&::after {
					display: none;
				}
			}
			&:checked {
				& + .chk_label {
					position: relative;
					color: var(--primary);
					@include bold;
					+ i {
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;
						border: 2px solid var(--primary);
						border-radius: var(--radius-m);
					}
				}
			}
		}
		&.right {
			right: 0;
			& + .chk_label {
				padding-left: 0;
				padding-right: var(--px-11);
				text-align: right;
				&::before {
					left: calc(100% - 20px);
				}
				&.chk_label_lg {
					padding-right:var(--px-12);
					&::before {
						left: calc(100% - 24px);
					}
				}
			}
			& + .switch_check {
				position: relative;
				padding-right: var(--px-14);
				&::before {
					position: absolute;
					left: calc(100% - 32px);
				}
				&::after {
					left: calc(100% - 30px);
				}
				&.lg {
					padding-left: 0;
					padding-right: var(--px-16);
					&::before {
						left: calc(100% - 40px);
					}
					&::after {
						left: calc(100% - 38px);
					}
				}
			}
		}
		&:disabled {
			& + .chk_label {
				&::before {
					background-color: var(--grey-color-200);
					border: 1px dashed var(--grey-color-500);
				}

				> .label_cont {
					color: var(--grey-color-700);
				}

				&.more_add {
					> .label_cont {
						color: var(--grey-color-700);
					}
				}
				&.switch_check {
					height: 24px;
					&::before {
						background-color: var(--grey-color-300);
						border-style: solid;
						border-color: var(--grey-color-300);
					}
					.label_cont {
						color: var(--grey-color-500);
					}
				}
			}

		}


		&:checked {
			& + .chk_label {
				&::before {
					border-color:  var(--primary);
				}
				&.switch_check {
					&::before {
						background:  var(--primary);
					}
					&::after {
						left: 14px;
					}
					&.lg {
						&::after {
							left: 18px;
							background-size: 14px auto;
						}
					}
				}
				&.check_hide {
					.sub_g_txt {
						display: none;
					}
					& + .chk_lby {
						display: none;
					}
				}
			}
			&.right {
				& + .switch_check {
					&::after {
						left: calc(100% - 18px);
					}
					&.lg {
						&::after {
							left: calc(100% - 22px);
						}
					}
				}
			};
			&:disabled {
				& + .chk_label {
					& .label_cont {
						color: var(--grey-color-700);
					}
					&.switch_check {
						&::before {
							background: var(--grey-color-300);
							border-color: var(--grey-color-300);
						}
					}
					&::after {
						filter: grayscale(100%);
					}
				}
			}
		}
	}

	input[type='checkbox'] {
		+ .chk_label {
			&::before {
				border-radius: var(--radius-m);
			}
		}
		&:checked {
			& + .chk_label {
				&::before {
					background: var(--primary) url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.17505 4.45005L3.42505 6.70005L8.82505 1.30005' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / 12px auto;
					
				}
				&.chk_label_lg {
					&::before {
						background-size: 16px auto;
					}
				}
			}
			&:disabled {
				& + .chk_label {
					&::before {
						background: var(--grey-color-200) url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.17505 4.45005L3.42505 6.70005L8.82505 1.30005' stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center / 12px auto;
						border: 1px solid var(--grey-color-500);
					}
				}
			}
		}
	}
	input[type='radio'] {
		+ .chk_label {
			&::before {
				border-radius: var(--radius-full);
			}
			&.chk_label_lg {
				&::before {
					border-radius: var(--radius-full);
				}
			}
		}
		&:checked {
			+ .chk_label {
				&::after {
					content: '';
					position: absolute;
					top: 6px;
					left: 5px;
					width: 10px;
					height: 10px;
					background: var(--primary);
					border-radius: var(--radius-full);
				}
				&.chk_label_lg {
					&::before {
						border-radius: var(--radius-full);
					}
					&::after {
						top: 7px;
						width: 14px;
						height: 14px;
					}
				}
			}
			&:disabled {
				& + .chk_label {
					&::before {
						border-color: var(--grey-color-500);
					}
				}
			}
			&.right {
				& + .chk_label {
					&::after {
						left: calc(100% - 15px);
					}
				}
				& + .chk_label_lg {
					&::after {
						left: calc(100% - 19px);
					}
				}
			}
		}
	}
	&.rd_box {
		padding: var(--px-8) var(--px-7);
		flex: 1;
		border: 1px solid var(--grey-color-200);
		border-radius: var(--radius-l);


		input[type=checkbox] {
			top: 18px;
			left: 18px;
			width: 20px;
			height: 20px;

			& + [class^=chk_label] {
				position: static;
				padding-left: calc(20px + 8px);
				&::before {
					top: 18px;
					left: 18px;
				}
			}
		}

		.ag_more_btn {
			position: absolute;
			top: 24px;
			right: 24px;
		}

	}
	

	.ag_more_btn {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		padding-right: 16px;
		font-size: var(--font-body-xs);
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E") no-repeat right center / 16px auto;
	}
}

.group_wrap {
	display: inline-flex;
	flex-flow: row wrap;
	gap: var(--px-7);
	width: 100%;

	&.ty2 {
		display: flex;
		flex-flow: row wrap;
		gap: var(--px-4);

		.inp_check {
			flex: 0 1 calc(50% - 6px);
			min-width: auto;
		}
	} 

	& + * {
		margin-top: var(--px-5);
	}

	& + .group_wrap {
		margin-top: var(--px-8);
	}
	
}

.group_wrap {
	&.column {
		flex-direction: column;
		gap: 0;

		//large
		&:has(.chk_label_lg) {
			.inp_check {
				~ .inp_check {
					margin-top: var(--px-7);
				}
			}
		}

		//medium
		.inp_check {
			& + .inp_check {
				margin-top: var(--px-6);
			}
		}
		.inp_check.lg {
			& ~ .lg {
				margin-top: var(--px-7);
			}
		}
		.inp_check.sm {
			& ~ .sm {
				margin-top: var(--px-5);
			}
		}
		.inp_check.rd_box {
			& ~ .rd_box {
				margin-top: var(--px-5);
			}
		}
	}
	&.end {
		justify-content: end;
	}
	+ .info_cont {
		margin-top: var(--px-8);
	}
	&.rd_box {
		padding: var(--px-8) var(--px-7);
		border: 1px solid var(--grey-color-200);
		border-radius: var(--radius-l);
	}
}