h1 {
    font-size: $font-h1;
    @include bold;
}
h2 {
    font-size: $font-h2;
    @include bold;
}
h3 {
    font-size: $font-h3;
    @include bold;
}
h4 {
    font-size: $font-h4;
    @include bold;
}
h5 {
    font-size: $font-h5;
    @include bold;
}
