.inp_wrap {
    .inp_item {
        position: relative;
        label {
            font-size: var(--font-body-s);
            color: var(--grey-color-900);
        }
        .inp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--px-3);
            padding: 0 var(--px-4);
            border: 1px solid var(--grey-color-300);
            border-radius: var(--radius-m);
            input,
            select {
                height: var(--px-16);
                line-height: var(--px-16);
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
            select {
                border: 0;
            }
            &:focus-within {
		        border-color: var(--primary);
                
	        }
            &.readonly {
                background: var(--grey-color-200);
            }
            &.disabled {
                color: var(--grey-color-600);
                background: var(--grey-color-100);
            }
            &.t_right {
                input {
                    text-align: right;
                }
            }
            button.btn {
                width: 30px;
                height: 48px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px auto;
                &.search {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg id='icon/line/search'%3E%3Cpath id='Vector' fill-rule='evenodd' clip-rule='evenodd' d='M3.33138 9.08382C3.33138 5.90818 5.90574 3.33382 9.08138 3.33382C12.257 3.33382 14.8314 5.90818 14.8314 9.08382C14.8314 10.5947 14.2486 11.9695 13.2956 12.9957C13.2326 13.027 13.1735 13.0689 13.121 13.1215C13.0685 13.174 13.0265 13.2332 12.9952 13.2963C11.9688 14.2503 10.5932 14.8338 9.08138 14.8338C5.90574 14.8338 3.33138 12.2595 3.33138 9.08382ZM13.5977 14.5409C12.3717 15.5566 10.7978 16.1672 9.08138 16.1672C5.16936 16.1672 1.99805 12.9958 1.99805 9.08382C1.99805 5.1718 5.16936 2.00049 9.08138 2.00049C12.9934 2.00049 16.1647 5.1718 16.1647 9.08382C16.1647 10.7992 15.5549 12.3722 14.5403 13.5979L17.3045 16.3621C17.5649 16.6225 17.5649 17.0446 17.3045 17.3049C17.0442 17.5653 16.6221 17.5653 16.3617 17.3049L13.5977 14.5409Z' fill='%2333363D'/%3E%3C/g%3E%3C/svg%3E");
                }
                &.calendar {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M14.2605 1.66699C14.6284 1.66717 14.9263 1.96508 14.9265 2.33301V4.16699H16.7605C17.5889 4.167 18.2605 4.83857 18.2605 5.66699V16C18.2605 16.8284 17.5889 17.5 16.7605 17.5H4.76147C3.93305 17.5 3.26147 16.8284 3.26147 16V5.66699C3.26147 4.83856 3.93305 4.16699 4.76147 4.16699H6.59448V2.33301C6.59466 1.96497 6.89339 1.66699 7.26147 1.66699C7.62956 1.66699 7.92829 1.96497 7.92847 2.33301V4.16699H13.5935V2.33301C13.5937 1.96497 13.8924 1.66699 14.2605 1.66699ZM4.59448 16C4.59448 16.092 4.66943 16.167 4.76147 16.167H16.7605C16.8525 16.167 16.9275 16.092 16.9275 16V9H4.59448V16ZM7.09644 11.667C7.55652 11.6672 7.92944 12.0399 7.92944 12.5C7.92944 12.9601 7.55652 13.3328 7.09644 13.333C6.6362 13.333 6.26245 12.9602 6.26245 12.5C6.26245 12.0398 6.6362 11.667 7.09644 11.667ZM10.7615 11.667C11.2217 11.667 11.5945 12.0398 11.5945 12.5C11.5945 12.9602 11.2217 13.333 10.7615 13.333C10.3012 13.333 9.92847 12.9602 9.92847 12.5C9.92847 12.0398 10.3012 11.667 10.7615 11.667ZM14.4304 11.667C14.8905 11.6672 15.2634 12.0399 15.2634 12.5C15.2634 12.9601 14.8905 13.3328 14.4304 13.333C13.9702 13.333 13.5964 12.9602 13.5964 12.5C13.5964 12.0398 13.9702 11.667 14.4304 11.667ZM4.76147 5.5C4.66943 5.5 4.59448 5.57494 4.59448 5.66699V7.66699H16.9275V5.66699C16.9275 5.57494 16.8525 5.5 16.7605 5.5H4.76147Z' fill='%2333363D'/%3E%3C/svg%3E");
                }
                &.del {
                    display: none;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Crect x='18.332' y='1.66666' width='16.6667' height='16.6667' rx='8.33333' transform='rotate(90 18.332 1.66666)' fill='%23CDD1D5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.7201 5.77876C6.45975 5.51841 6.03764 5.51841 5.77729 5.77876C5.51694 6.03911 5.51694 6.46122 5.77729 6.72157L9.05654 10.0008L5.7786 13.2788C5.51825 13.5391 5.51825 13.9612 5.7786 14.2216C6.03894 14.4819 6.46106 14.4819 6.7214 14.2216L9.99935 10.9436L13.2773 14.2216C13.5376 14.4819 13.9598 14.4819 14.2201 14.2216C14.4805 13.9612 14.4805 13.5391 14.2201 13.2788L10.9422 10.0008L14.2214 6.72157C14.4818 6.46122 14.4818 6.03911 14.2214 5.77876C13.9611 5.51841 13.5389 5.51841 13.2786 5.77876L9.99935 9.05801L6.7201 5.77876Z' fill='%2333363D'/%3E%3C/svg%3E");
                    &.on {
                        display: block;
                    }
                }
            }
            &.select {
                position: relative;
                .btn_sel {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
            }
            select {
                &::-ms-expand { display: none; }
                padding-right: 30px;
                background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center right/20px auto;
                -o-appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                &:required:required:invalid {
                    color: var(--grey-color-500);
                }
            }
            textarea {
                padding: var(--px-4);
                width: 100%;
                min-height: 120px;
                border: none;
            }
        }
    }
    &.ty2 {
        label {
            position: absolute;
            top: 0;
            left: var(--px-4);
            padding: var(--px-2);
            transform: translateY(-50%);
            z-index: 1;
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: calc(50% - 1px);
                height: 2px;
                width: 100%;
                background: var(--white-color);
                z-index: -1;
            } 
        }
    }
    & + * {
        margin-top: var(--px-13);
    }
    &.phone {
        display: flex;
        align-items: end;
        gap: var(--px-3);
    }

}

/* select pop radio */
.sel_group {
    border-top: 1px solid var(--grey-color-300);
    li {
    border-bottom: 1px solid var(--grey-color-300);
    input + label {
        padding: var(--px-6) var(--px-11);
        &::before {
            top: calc(50% - 10px) !important;
        }
        &::after {
            top: calc(50% - 5px) !important;
        }

    }
}
}